.user-avatar-preview {
  display: flex;
  justify-content: center;
}

.user-avatar {
  line-height: 0;
  display: flex;
  margin: 5px;
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  transition: linear 0.25s;
  height: 128px;
  width: 128px;
  background: cover;
}
.avatar img {
  border-radius: 50%;
}
.user-avatar:hover {
  transition: ease-out 0.2s;
  border: 1px solid #ffffff;
  -webkit-transition: ease-out 0.2s;
}
