@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Prompt:wght@300&display=swap");

.content {
  display: flex;
  justify-content: center;
}

.register-user-container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  border: solid 1px rgba(200, 200, 200, 0.4);
  max-width: 20rem;
  padding: 1.7rem;
}

.user-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-form input {
  font-family: "Prompt", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.025rem;
  font-style: normal;
  color: #ffffff;
  background-color: #101523;
  padding: 0.3rem 0.7rem;
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-radius: 5px;
  width: 300px;
  text-align: center;
  margin-bottom: 6px;
} */

 .user-form input:hover {
  border: 1px solid #ffffff;
}

.user-avatar-preview {
  display: flex;
  justify-content: center;
}

.user-avatar {
  line-height: 0;
  display: flex;
  margin: 5px;
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  transition: linear 0.25s;
  height: 128px;
  width: 128px;
  background: cover;
}
.avatar img {
  border-radius: 50%;
}
.user-avatar:hover {
  transition: ease-out 0.2s;
  border: 1px solid #ffffff;
  -webkit-transition: ease-out 0.2s;
}

input[type="file"] {
  display: none;
}

label {
  font-family: "Prompt", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #101523;
  padding: 0.35rem 0.75rem;
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-radius: 5px;
}

label:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}

.user-avatar-label {
  margin: 10px 0px 50px 0px;
}

input::placeholder {
  font-family: "Prompt", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  font-style: normal;
  text-transform: uppercase;
} 
