.title {
    display: flex;
    justify-content: center;
    font-family: "Prompt", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.025rem;
    font-style: normal;
    color: #ffffff;
  }